/* * {
    margin: 0;
    
    padding: 0;

    box-sizing: border-box;
}

.container {
    max-width: 1230px;

    margin: 0 auto;

    padding: 0 15px;
}

.store {
    background: gray;
}

.store__wrapper {
    padding: 50px 0;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
}

.store__card {
    display: flex;

    align-items: center;

    margin-top: 20px;
    
    background: #ffff;

    width: 17%;

    height: 200px;

    border-radius: 100px;

    overflow: hidden;
}

.store__img {
    width: 100%;
    
    height: 70%;
}

.store__img img {
    width: 100%;

    height: 100%;

    object-fit: contain;
} */
* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

.container {
    max-width: 1230px;

    margin: 0 auto;

    padding: 0 15px;

    display: flex;
    /* эти свойства от безысходности  */

    flex-direction: column-reverse;
    /* так в дальнейшем не делать */
}

.store {
    background: gray;
}

.store__wrapper {
    padding: 50px 0;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    position: relative;
}

/* Начало новых свойств для списка  */

li {
    list-style: none;
}

.store__list {
    padding: 20px 0;

    display: flex;

    justify-content: center;
}

.store__categories {
    font-size: 24px;

    color: #ffff;

    text-transform: uppercase;

    cursor: pointer;

    transition: .5s ease-in;

    position: relative;
}

.store__categories::before {
    content: '';

    position: absolute;

    height: 2px;

    width: 0;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

    background-color: blue;

    transition: .5s ease-in;
}

.store__categories:not(:last-child) {
    margin-right: 40px;
}

.active {
    color: blue;
}

.active::before {
    width: 100%;
}

.store__wrapper-list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 50px;
    width: 70vw;
    background-color: rgb(88, 88, 88, 0.3);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    backdrop-filter: blur(50px);
    display: none;
}

/* тут заканчиваются новые свойства которые я задал */

.store__card {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #ffff;
    width: 17%;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

.store__img {
    width: 100%;
    height: 70%;
}

.store__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrap__icon {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.modal__icon {
    width: 100%;
    height: 100%;
}